.body {
    background-color: #fafafa;
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    min-height: 100vh;
}
.body__container {
    min-height: inherit;
}

.color {
    background-color: #212121;
}