.body {
    background: #fafafa;
    background: linear-gradient(to right, #f8f8f8 , #fdfdfd);
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 100vh;
    position: relative;
}
html {
    overflow-y: scroll;
}

.color {
    background-color: #212121;
}

.card__img {
    max-width: 100%;
    width: 250px;
    display: block;
    margin: auto;
}